*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

@font-face {
    font-family: "Muli-Bold";
    src: url("../fonts/Muli-Bold.ttf");
}
@font-face {
    font-family: "Muli-Black";
    src: url("../fonts/Muli-Black.ttf");
}
@font-face {
    font-family: "Muli-Regular";
    src: url("../fonts/Muli-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.logo-web {
    width: auto;
    height: 50px;
    margin-left: 120px;
}

.navbar-nav {
    margin-right: 120px;
    font-family: "Muli-Bold";
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
  }

.navbar-nav .nav-link {
    font-size: 100%;
    color: #163050;
}

.navbar-nav a:hover {
    color: #f07539;
}

.navbar-nav a:active {
    color: #f07539;
}

.btn {
    width: 150px;
}

/* title */
.title {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .in-touch {
    font-size: 45px;
    font-family: "Muli-Bold";
    color: #19345e;
    text-align: center;
  }


.form-control {
    font-family: "Muli-Regular";
    
    border-radius: 2px;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.row {
    color: #163050 !important; 
    font-size: 18px;
}
.contactForm .form-control {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control:focus,.form-control:active {
    border-color: #f07539 !important;
}


.bg-emphasis-color{
    background-color: #ffffff !important;
    color: #163050 !important; 
}

.messsage-btn {
    padding: 12px 60px 12px 60px;
    border: none;
    width: 100%;
}

.container-footer{
    height: 50%;
    background-color: #163050;
}
.container-footer .footer-foot{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.container-footer .footer-foot .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer .footer-foot .box figure img{
    width: 250px;
}
.container-footer .footer-foot .box p{
    color: #fff;
    margin-bottom: 25px;
}

.container-footer .footer-foot .box .copyright{
    margin-top: 35px;
}

.container-footer .footer-foot .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 23px;
    color: #fff;
    margin-right: 10px;
    text-align: left;
    transition: all 300ms ease;
}

.container-footer .footer-foot .red-social img {
    width: 23px;
}

@media only screen and (max-width: 600px) {
    .container{
        width: 100%!important;
        padding-bottom: 207px!important;
    }
    .touch-in::before::after {
        height: 25px;
    }
    .container-footer .footer-foot{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .container-footer .footer-foot .box .copyright{
        margin-top: auto;
    }
  }

  @media (max-width: 425px) {
    .in-touch {
        font-size: 35px;
    }
  }